@model IEnumerable<Music_app.ViewModels.BaiHatVM>

<div class="menu_song">
    <li class="songItem">
        <span>01</span>
        <img src="../Layout/img/1.jpg" alt="Alan">
        <h5>
            On My Way
            <div class="subtitle">Alan Walker</div>

        </h5>
        <i class="bi playListPlay bi-play-circle " id="1"></i>
    </li>
    <li class="songItem">
        <span>02</span>
        <img src="../Layout/img/1.jpg" alt="Alan">
        <h5>
            On My Way
            <div class="subtitle">Alan Walker</div>

        </h5>
        <i class="bi playListPlay bi-play-circle " id="1"></i>
    </li>
    <li class="songItem">
        <span>03</span>
        <img src="../Layout/img/1.jpg" alt="Alan">
        <h5>
            On My Way
            <div class="subtitle">Alan Walker</div>

        </h5>
        <i class="bi playListPlay bi-play-circle " id="1"></i>
    </li>

</div>